/*media-query-mobile*/
body {
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.container {
    width: 90%;
    margin: 0 auto;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas: "weather user ." "quote now ." ". todos .";
}
.hidden { 
    display: none;
}
.done {
    color: lightgray;
    text-decoration: line-through;
}

#weather {
    grid-area: weather;
}
#user {
    grid-area: user;
    /*justify-self: center; */
}
#quote {
    grid-area: quote;
}
#now {
    grid-area: now;
    /*justify-self: center; */
}
#todos {
    grid-area: todos;
    /*justify-self: center; */
}

#logout {
    font-size: small;
    color: gray;
    text-decoration: underline;
}

/*media-query-PC*/
@media screen and (min-width: 500px) { 
    .container {
        color: white;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}